security:
    providers:
        oidc_user_provider:
            id: App\Security\OidcUserProvider

    firewalls:
        api:
            pattern: ^/api
            stateless: true
            provider: oidc_user_provider

            access_token:
                token_handler:
                    oidc:
                        claim: email
                        algorithms: ['RS256']
                        audience: 'account'
                        issuers: ['http://localhost:8080/realms/lifeai']
                        discovery:
                            base_uri: http://localhost:8080/realms/lifeai/
                            cache:
                                id: cache.app

    access_control:
        - { path: ^/api, roles: ROLE_USER }
